body {
    background: linear-gradient(270deg, #ffffff, #959595, #424141);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 41s ease infinite;
    -moz-animation: AnimationName 41s ease infinite;
    animation: AnimationName 41s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

#top,
.menu {
    animation-duration: 1.5s;
    animation-name: bounceIn;
    font-family: Helvetica;
    font-size: 16px;
    color: black;
    text-align: center;
}

@keyframes bounceIn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

body,
img {
    padding: 10px;
}

.overlay {
    top: 100px;
    left: 100px;
    position: absolute;
    z-index: 100;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-align: center;
}

div {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 200px;
    overflow: hidden;
}

nav,
a {
    color: white;
    text-align: center;
}

img {
    width: 100%;
}

img:hover {
    opacity: .5;
}