body {
    width:90%;
    margin:auto;
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color:black;
}

h1 {
    font-size:2em;
    color:white;
    font-weight: lighter;
}

main {
    width:100%;
}

main img {
    width:100%;
}

#about {
    margin:10px auto;
    text-align: center;
    width:80%;
}

#about p {
    font-size: 1.1em;
    padding: 10px 0;
    line-height: 20x;
    text-align: left;
}

h2 {
    font-size: 2.5em;
    font-weight:400;
    padding:10px 0;
}

#pics {
    margin-top:100px;
    margin-bottom: 20px;
}

#pics div {
    width:31%;
    padding:0 1%;
    height:400px;
    float:left;
    margin:auto;
    text-align: center;
}

div img {
    width:75%;
    height:auto;
}


.clearfix:after {
    content:'';
    display:block;
    clear:both;
}
