#topRow {
    margin-top: 15px;
}

.wordBox {
      min-height: 240px;
    padding-top: 40px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

.yellowBG {
    background: yellow;
    padding: 50px;
    min-height: 300px;
    height: 555px;
}

.grayBG {
    background: #dddddd;
    min-height: 300px;
    padding: 50px;
    height: 555px;
}

.contactBG {
    background: yellow;
    padding: 15px;
    min-height: 100px;
    text-align: center;
}

img {
    width: 100%
}


/*
.margBottom {
    margin-bottom:15px;
}
*/

div,
img {
    margin-bottom: 15px;
}

@media (max-width: @screen-xs) {
    p {
        font-size:.8em;
    }
    h1 {
        font-size:1em;
    }
    img {
        height:50%;
    }
    .yellowBG {
    background: yellow;
    padding: 50px;
    min-height: 30vh;
    height: 555px;
}
}

@media (max-width: @screen-sm) {
    p {
        font-size:1em;
    }
    h1 {
        font-size:1.2em;
    }
    
}


nav {
    max-height: 100px;
}