body {
    width:100%;
}

nav {
    height:150px;
    padding:.5% 1%;
}

nav img {
    float:left;
    height:100%;    
}

nav ul {
    float:right;
}

nav li {
    display:inline-block;
}

nav a {
    color: #2f2f2f;
    text-decoration: none;
    margin-left: 7px;
    font-size: 1em;
    padding-top:100px;
}

.clearfix:after {
    content: " ";
    display: none;
    clear: both;
/*    height: 0;*/
    line-height: 0;
    visibility: hidden;
}