body {
    margin:auto;
    width:98%;
}

nav {
    height:90px;
    padding:.5% 1%;
    border-bottom: solid black 2px;
}

nav img {
    float:left;
    height:100%;    
}

nav ul {
    float:right;
}

nav li {
    display:inline-block;
    margin-top:70px;
}

nav a {
    color: #2f2f2f;
    text-decoration: none;
    margin-left: 9px;
    font-size: 1em;
    padding-top:100px;
}

nav a:hover {
    text-decoration: line-through;
}

.clearfix:after {
    content: " ";
    display: none;
    clear: both;
/*    height: 0;*/
/*    line-height: 0;*/
/*    visibility: hidden;*/
}