body {
    font-family: 'Raleway', sans-serif;
/*    background-image:url(../img/photo-1452562961439-283b44358d48.jpeg);*/
}

h1 {
    float: left;
    font-weight: bold;
    font-size: 1.6em;
}

header {
    padding: 4px 0px;
}

nav {
    float: right;
}

ul li {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

li a {
    text-decoration: none;
    color: black;
}

main {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/277332_543308349018969_647808710_o.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
    padding: 180px 0px;
    margin-bottom: 10px;
/*    height:200px;*/
}

h2 {
    font-weight: bold;
    font-size: 4em;
    color: white;
}

main p {
    font-weight: bold;
    font-size: 2em;
    text-transform: capitalize;
    color: white;
    margin-bottom: 10px;
}

main a {
    border: solid gray 2px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: lightgray;
    padding: 2px 10px;
}

main a:hover {
    color: black;
    background: white;
}

#about {
    /*    background: #cfcfcf;*/
    margin: 20px auto;
}

#aboutOne {
    float: left;
    width: 35%;
    overflow: hidden;
    text-align: center;
}

#aboutOne img {
    margin: 10px auto;
    max-width: 100%;
}

#aboutTwo {
    width: 60%;
    float: right;
    text-align: center;
}

#aboutTwo p {
    line-height: 22px;
    text-align: left;
}

h3 {
    font-size: 2em;
    margin: 20px 0px;
    font-weight: bold;
}

#selection {
    clear: both;
    margin: 20px auto;
    background: #ececec;
    padding:10px 0px;
}

#selection img {
    margin-bottom: 10px;
}

#selection > p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
}

.beers {
    padding: 0 .5%;
    width: 21%;
    margin-right:37px;
    float: left;
    text-align: center;
}

#selection div:last-child {
    margin-right:0;
}

.beers img {
    width: 100%;
}

beers a:visited {
    text-decoration: none;
}

h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

#blog {
    padding-top: 20px;
    clear: both;
    text-align: center;
    margin: 20px auto;
}

#blog > p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

#blogOne {
    width: 50%;
    float: left;
}

#blogTwo {
    width: 50%;
    float: left;
}

#blog img {
    width:80%;
    height:80%;
    margin:auto;
}

#contact {
    text-align: center;
    margin-bottom: 30px;
    /*    border: black solid 1px;*/
        background: #ececec;
    padding:10px 0;
}

#contact a {
    border: black solid 1px;
    padding: 2px 4px;
    margin: 100px;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

#contact a:hover {
    background: #5A472A;
    color: white;
}

h5 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#toTop {
    z-index: 100;
    float: right;
    font-weight: bold;
    width: 4%;
    margin-right: 20px;
    /*    position:fixed;*/
}

#toTop img {
    width: 100%;
}

footer {
    text-align: center;
    border-top: black solid 1px;
    padding: 10px 0;
    margin-bottom:10px;
}

footer img {
    float:right;
    width:5%;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.container2 {
    width:90%;
    margin:0 auto;
}

.container3 {
    width:95%;
    margin:0 auto;
}

.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
}