.maps {
    pointer-events: none;
    width: 100%
}

body {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width: 100%;
}

img {
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.navbar-default {
    background-color: none;
    border-color: #e7e7e7;
}

h3 {
    font-size: .8em;
    padding: 0px;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 4em;
    font-family: 'Parisienne', cursive;
    text-decoration: underline;
}

h6 {
    font-size: 2em;
}

.nav2 {
    /*    position: fixed;*/
    text-align: center;
    background-color: #eff3f6;
    height: 100vh;
    z-index: 0;
}

#who h3 {
    font-size: 3em;
    /*    padding: 0 20px;*/
}

.about {
    height: 400px;
}

.about h5 {
    padding-top: 90px;
}

.about h6 {
    padding: 0px 60px;
}

.frame {
    height: 400px;
    background-image: url(https://images.unsplash.com/photo-1446102892025-3900145fd2a7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=114316422cec6546744d3801d0fe53d2);
    background-size: cover;
    background-position: center;
}

.nav2 p {
    line-height: 70px;
}

.pages {
    /*    height:80px;*/
    line-height: 40px;
    border-bottom: 1px solid black;
}

#logo {
    height: 240px;
    border-bottom: solid 1px black;
}

#logo img {
    height: 80%;
    width: auto;
}

.hero {
    /*    margin-top:50px;*/
    background-image: url(https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=46a85a1451e47aea5152ade8299f2894);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.hero img {
    padding-top: 10vh;
    height: auto;
    margin: 0 auto;
}

.bgWhite {
    background-color: rgb(239, 243, 246);
}

.icons {
    background-color: #eff3f6;
    height: 250px;
    text-align: center;
}

.icons p {
    font-size: 1em;
    padding: 30px;
}

.hero2 {
    height: 500px;
}

#who {
    /*    height: 500px;*/
    /*    padding-top: 100px;*/
}

* {
    margin: 0px;
}

.social {
    margin: 0px;
    width: 24%;
    line-height: 70px;
}

#socialWrap {
    border-bottom: none;
}

.row {
    margin: 100vh 0px 0px;
}

.rowOverride {
    margin-top: 100px;
}

.rowOverride2 {
    margin-top: 0px;
}

.footer {
    line-height: 50px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-md-offset-3 {
    padding: 0px 0px;
    margin-right: 0px;
}

main.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

a {
    color: black;
}

a:hover {
    color: #01456B;
}


/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */


/* Small devices (tablets, 768px and up) */

@media (max-width: 991px) {
    .separater {
        margin-bottom: 0px;
    }
    .bgWhite {
        background-color: white;
    }
    .contact {
        margin-top: 0px;
    }
    #who {
        padding: 40px;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (max-width:991px) {
    .rowOverride {
        margin-top: 0px;
    }
    .altBG {
        background-color: #01456B;
        color: white;
    }
    .about h5 {
        padding-top: 20px;
    }
    
    
    
    .about {
        height:300px;
    }
}

@media (min-width:992px) {
    .nav2 {
        position: fixed;
        text-align: center;
        background-color: #eff3f6;
        height: 100vh;
    }
    .hero {
        position: fixed;
    }
    .separater {
        margin-bottom: 40px;
    }
    .mdOverride {
        margin-top: 100vh;
    }
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: @screen-lg-min) {
    ...
}